.navigation {
 height: 70px;
 background: #ffffff;
 border-bottom: solid 1px #e1e3ea;
}

.rightTest {
 position: relative;
 padding-right: 20px;
 float: right;
 line-height: 70px;
 text-transform: uppercase;
 font-size: 1.4em;
}
.brand {
 position: absolute;
 padding-left: 20px;
 float: left;
 line-height: 50px;
 text-transform: uppercase;
 font-size: 1.4em;
 
}
.brand a, .brand a:visited {
 color:dimgrey;
 text-decoration: none;
}
.nav-container {
 max-width: 100%;
 margin: 0 auto;
}
nav {
 float: right;
}
nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
}
nav ul li {
 float: left;
 position: relative;
}
nav ul li a, nav ul li a:visited {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
 display: block;
 padding: 0 20px;
 line-height: 69px;
 background: #ffffff;
 color: rgb(116, 116, 116);
 text-decoration: none;
 z-index: 99999;
 font-weight: 300;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}
nav ul li a:hover, nav ul li a:visited:hover {
 color: rgb(6, 184, 255);
 /* background: #2581dc;
 color: #fff; */
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
 padding-left: 4px;
 content: ' ▾';
}
nav ul li ul li {
 min-width: 190px;
}
nav ul li ul li a {
 padding: 15px;
 line-height: 20px;
}
.nav-dropdown {
 position: absolute;
 display: none;
 z-index: 1;
 box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
.nav-mobile {
 display: none;
 position: absolute;
 top: 0;
 right: 0;
 background: #f2f2f2;
 height: 70px;
 width: 70px;
}
@media only screen and (max-width: 798px) {
 .nav-mobile {
  display: block;
}
nav {
 float: none;
}
.middel-align-center{
 margin-left: auto;
 margin-right: auto;
 width: 15em;
}
 nav {
  width: 100%;
  padding: 70px 0 15px;
}
 nav ul {
  display: none;
}
 nav ul li {
  float: none;
}
 nav ul li a {
  padding: 15px;
  line-height: 20px;
}
 nav ul li ul li a {
  padding-left: 30px;
}
 .nav-dropdown {
  position: static;
}
}
@media screen and (min-width: 799px) {
  .nav-list {
   display: block !important;
 }
 nav {
  float: right;
 }
}

#nav-toggle {
 position: absolute;
 left: 18px;
 top: 22px;
 cursor: pointer;
 padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
 cursor: pointer;
 border-radius: 5px;
 height: 3px;
 width: 25px;
 background: rgb(58, 58, 58);
 position: absolute;
 display: block;
 content: '';
 transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
 top: -10px;
}
#nav-toggle span:after {
 bottom: -10px;
}
#nav-toggle.active span {
 background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
 top: 0;
}
#nav-toggle.active span:before {
 transform: rotate(45deg);
}
#nav-toggle.active span:after {
 transform: rotate(-45deg);
}
article {
 max-width: 100%;
 margin: 0 auto;
 padding: 10px;
}


.topHeader{
 background-color: #fff;
 font-size: 14px;
 text-align: right;
 padding-top: 5px;
 padding-right: 8px;
}
a.topHeader{
 text-decoration: none;
 color: #282c34;
}

a.topHeader:hover{
 color: rgb(6, 184, 255);
}

.sticky {
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 99999 !important;
}

.sticky + .content {
 padding-top: 102px !important;
}

@media only screen and (max-width: 798px) {
 .topHeader{
  padding-right: 40px;
 }
 .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999 !important;
 }
}